* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

/* all child items 100% width */
.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.header {
  background: tomato;
}

.footer {
  background: lightgreen;
}

.main {
  text-align: left;
  background: blue;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

@media (min-width: 600px) {
  /* sidebars share a row */
  .aside { flex: 1 auto;}
}

@media (min-width: 800px) {
  /* invert order and have main take 2x as much space as asides */
  .main {flex: 2 0px}
  .aside-1 {order: 1;}
  .main {order: 2;}
  .aside-2 {order: 3;}
  .footer {order: 4;}
}

body {
  padding: 2em;
}
/* -------------------------------- */

.navigation {
  list-style: none;
  background: deepskyblue;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

@media (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}

/* ------------------------------------- */

.flex-container {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}