.grey {
  width: 50%;
  background: grey;
}

.green {
  height: 50px;
  width: 0%;
  background: green;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  color: white;
}

button:focus {
  outline: none;
}